<%= @company.name %>

<% if @company.openings.any? %>

  <br>
  <h1>Your Openings</h1>
  <%= link_to "Create An Opening", new_opening_path %>

  <br>

  <% @openings.each do |opening| %>
    <br>
    <%= link_to opening.title, opening_path(opening)  %>
    <br>
  <% end %>
  <br>

  <h1>Your Matches</h1>

  <% @users.each do |user| %>
   <p>You selected <%= user.name %> as a potential candidate for your opening </p>
   <br>
  <% end %>

<% end %>
