<div class="container-fluid text-center bg-1 col-md-12" style="margin-top: 4%; padding-top: 20vh">
  <div class="row col-md-6 col-md-push-3" style="border-radius: 5px; background-color: #ecf0f1;">


  <h1>Your Company: <%= @company.name %></h1>

  <% if @company.openings.any? %>

    <br>
    <h1>Your Openings</h1>
    <small><%= link_to "Create An Opening", new_opening_path %></small>

    <br>

    <% @openings.each do |opening| %>
      <br>
      <%= link_to opening.title, opening_path(opening)  %>
      <br>
    <% end %>
    <br>

  <% end %>

  </div>
</div>
