<h1>Your Matches</h1>
<% if session[:type] == 1 %>
  <% @user.user_matches.each do |match| %>
    <%= match.title %>
  <% end %>
<% else %>
  <% @user.company_matches.each do |match| %>
    <%= match.title %>
  <% end %>
<% end %>
