<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
          font: 20px Montserrat, sans-serif;
          line-height: 1.8;
          color: #f5f6f7;
      }
      p {font-size: 16px;}
      .margin {margin-bottom: 45px;}
         .bg-1 {
            background-image: url("http://7wallpapers.net/wp-content/uploads/2_New-York.jpg");

             background-size: cover;
                color: #ffffff;
             min-height: 90vh;
  }
      .bg-2 {
          background-color: #474e5d; /* Dark Blue */
          color: #ffffff;
      }
      .bg-3 {
          background-color: #ffffff; /* White */
          color: #555555;
      }
      .bg-4 {
          background-color: #2f2f2f; /* Black Gray */
          color: #fff;
      }
      .container-fluid {
          padding-top: 70px;
          padding-bottom: 70px;

      }
      .navbar {
          padding-top: 15px;
          padding-bottom: 15px;
          border: 0;
          border-radius: 0;
          margin-bottom: 0;
          font-size: 12px;
          letter-spacing: 5px;
      }
      .navbar-nav  li a:hover {
          color: #1abc9c !important;
      }


        @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

        @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Welcome</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Employer Portal</a></li>
        <li><a href="#">Job Hunt</a></li>
        <li><a href="#">Resume</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center bg-1 image-responsive">
    <center>
        <div style="background-color: rgba(0, 0, 0, 0.45); width:50%; margin-top: 20vh; -webkit-animation: fadein 2s; animation: fadein 2s;">
            <br>
            <h1>Tinder For Jobs is the next generation Job Search App</h1>
            <br>
            <a href="/login"><button class="btn btn-primary">Login</button></a>
            <a href="/signup"><button class="btn btn-primary">Signup</button></a>
        </div>
    </center>
</div>



</body>
</html>
